/*imagem de fundo*/
body {
    background-image: url("imagens/fundo\ gif.gif");
}

/*estilo do título*/
#titulo {
    background-color: white;
    color: black;
    font-family: cursive;
}

#terra {
    position: absolute;
    left: calc(50%-10px);
    top: calc(50%-10px);
    color: white;
}

.fontes ul {
    list-style: none;
    line-height: 1.5em;
}

.fontes h1 {
    color: white;
    margin-left: 17px;
    margin-top: 20px;
}
